
/shadow4/examples/optical_elements/SiC.dat
/shadow4/sources/bending_magnet/SRANG
/shadow4/sources/bending_magnet/SRDISTR
/shadow4/sources/bending_magnet/SRSPEC
/.idea/inspectionProfiles/
/.idea/
/TEST/
/build/
/dist/
/shadow4.egg-info/
